html{
  font-family: 'Helvetica Neue', 'Roboto', 'Arial', sans-serif;
}

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #1F1F1F;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #1F1F1F;
}

#mainContainer{
  background-color: #526E9C !important;
}



.device{
  	margin: 22px;
  	padding: 22px;
 	  background: #1F1F1F;
    border-width: 5px;
    border-radius: 10px;
}

.device-name{     
    font-size: 32px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #676F98;
    -webkit-text-fill-color: #1F1F1F;
}

.device-transport-time{
  color: #f60;
}

.device-spectrum{
  height:50px;
  width:100%; 
  overflow: hidden;
}
 

.device-loading-indicator{
  height:52px;

}

.device-element-outset{
	border-left: 1px solid #2B2B2B;
	border-top: 1px solid #2B2B2B;
	border-right: 1px solid #383838;
	border-bottom:  1px solid #383838;
}

.device-element-inset{
	border-right: 1px solid #2B2B2B;
	border-bottom: 1px solid #2B2B2B;
	border-left: 1px solid #383838;
	border-top: 1px solid #383838;
}


.device-button {
  background-color: #526E9C;
  padding: 2px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
  padding-bottom: 0px;
}

#gui, .device-element-hidden{
	display: none;
}

#gui-loading-progress{
  background-color: #F2F2F2;
  color: #0D0D0D;
  display: none;
  width: 128px; 
  height: 88px;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  border-radius: 22px;
  padding: 22px;
}


.pattern-editor{
  background-color: #0D0D0D;
  overflow: scroll;
  height: 300px;
}
.pattern-keyboard{
  display: table-row;
  width: 100%;
}
.pattern-keyboard-key {
  width: 140px;
  min-width: 140px;
  background-color: white;
  color: black;
  border : solid 1px grey;
  border-left : 0;
  display: table-cell;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pattern-keyboard-key-sharp{
  background-color: #0D0D0D;
  color: white;
  width: 90px;
  min-width: 90px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pattern-keyboard-key-equipped{
  color: #0A0AFF;
}


.pattern-row:nth-child(12n-11) .pattern-keyboard-key,
.pattern-row:nth-child(12n-4) .pattern-keyboard-key
{
  border-bottom: 0;
  border-bottom-right-radius: 0;
  background-color: silver;
}



/*
.pattern-row:nth-child(3) .pattern-keyboard-key,
.pattern-row:nth-child(5) .pattern-keyboard-key,
.pattern-row:nth-child(7) .pattern-keyboard-key,
.pattern-row:nth-child(10) .pattern-keyboard-key,
.pattern-row:nth-child(12) .pattern-keyboard-key,

.pattern-row:nth-child(15) .pattern-keyboard-key,
.pattern-row:nth-child(17) .pattern-keyboard-key,
.pattern-row:nth-child(19) .pattern-keyboard-key,
.pattern-row:nth-child(22) .pattern-keyboard-key,
.pattern-row:nth-child(24) .pattern-keyboard-key,

...
*/
.pattern-row:nth-child(12n - 9) .pattern-keyboard-key,
.pattern-row:nth-child(12n - 7) .pattern-keyboard-key,
.pattern-row:nth-child(12n - 5) .pattern-keyboard-key,
.pattern-row:nth-child(12n - 2) .pattern-keyboard-key,
.pattern-row:nth-child(12n) .pattern-keyboard-key  
{
  border-top: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  background-color: silver; 
}


.pattern-keyboard-step-offset{
  background-color: #0D0D0D;
  border:0;
  border-right: solid 1px purple
  display: table-cell;
  width: 50px;
  min-width: 50px;
  height: 21px;
}

.pattern-keyboard-step-offset-bottom{
  border-top : solid 1px grey;
  border-right : solid 1px grey;
  background-color: silver;
  border-top-right-radius: 5px;
 height: 12px; 
}

.pattern-keyboard-step-offset-top{
  height: 12px;
  border-bottom:  solid 1px grey;
  border-right : solid 1px grey;
  background-color: green;
  border-bottom-right-radius: 5px;
  background-color: silver;
}

.pattern-row-sharp{
  position: relative;
}

.pattern-keyboard-step:first-child{
}

.pattern-keyboard-step{
  width: 22px; 
  min-width: 22px; 
  border: solid 1px #1F1F1F;
  color:#1F1F1F;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pattern-keyboard-step-active {
  color: #f60;
  font-weight: bold;
}

#pattern-editor{
  display: none;
}

html /deep/ [layout][vertical] #mainContainer{
  background-color: #0D0D0D;
  color: #F2F2F2;
}
